sounddevice==0.5.0
numpy==2.1.0
streamlit==1.37.1
toml==0.10.2
gTTS==2.5.3
google-cloud-speech==2.27.0
openai==1.42.0
python-docx==1.1.2
PyPDF2==3.0.1
ttkthemes==3.2.2
requests==2.31.0
urllib3==2.0.7
chardet==5.2.0
groq==0.4.2
